.app-header {
    align-items: center;
    background: #779CA0;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.app-header__logoimg{
    height: 100px;
    width: 100px;
}
.app-header__nome{
    height: 50px;
    padding-left: 50px;
}
.app-header__perfil{
    height: 50px;
}