.div-curso{
    background-image: url(../img/print-cursos.1686744881.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 1600px;
    height: 1168px;
}