body{
    background-image: url('../img/layout/back.png');
    background-size: 1600px 1168px;    
}
.body{
    padding-top: 20px;
}
.first-div__img{
    width: 200px;
    height: 200px;
    padding-left: 80px;
}
.first-div__img:hover{
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.first-div{
    display: flex;
}